.products {
  @apply p-8 fixed w-96 bg-white shadow-product rounded-2xl overflow-auto;

  max-height: 36rem;
  left: calc(2.5rem + 280px);

  &::-webkit-scrollbar {
    width: 0;
  }
}

.backdrop {
  width: 46%;
  height: 100%;
  background: transparent;
  position: fixed;
  left: 0;
  top: 108px;
}
