.content {
  min-height: 33rem;
  width: calc(100% - 280px);
  @apply rounded-2xl bg-white flex items-center justify-center;

  .svg__blank {
    @apply mx-auto mb-5;
  }

  @media (max-width: 768px) {
    @apply w-full;
  }
}

.content_fill {
  @apply w-full rounded-2xl relative hover:shadow-product;

  &.first {
    section {
      border-radius: 1rem 1rem 0 0;
    }
  }
  &.last {
    section {
      @apply rounded-b-2xl rounded-bl-2xl;
    }
  }

  section {
    user-select: none;
    height: unset;
  }

  .content_delete {
    @apply absolute right-7 bottom-7 cursor-pointer hidden;
  }

  &:hover {
    // transform: scale()
    // @apply transform scale-105 transition-all duration-500 z-30;

    // img {
    //   border-radius: 1rem;
    // }
    .content_delete {
      display: block;
    }
  }
}
