.nav {
  @apply flex justify-between items-center py-8 px-10;

  button {
    @apply bg-button-primary-orange text-white hover:bg-button-primary-hover;
  }
  a {
    border-radius: 0.5rem;
    border-style: none;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    line-height: 1.25rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    @apply bg-button-primary-orange text-white hover:bg-button-primary-hover;
  }
}

.sidebar {
  max-height: 33rem;
  @apply py-10 px-5 bg-white rounded-2xl mr-5 fixed left-10 shadow-product overflow-y-auto;
  z-index: 150;

  @media (max-width: 768px) {
    @apply shadow-product;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}

.dropdown {
  @apply flex flex-col absolute z-50 mt-4 right-10;

  a {
    @apply flex rounded-none py-7 items-center;
    background: #1e1e1e;

    img {
      @apply mr-4;
    }

    &:first-child {
      @apply rounded-t-2xl;
    }
    &:last-child {
      @apply rounded-b-2xl;
      border-top: 0.5px solid #fff;
    }
  }
}

.backdrop {
  @apply w-full h-full bg-transparent fixed top-0 left-0 z-10;
}

.modalnav {
  @apply w-10/12 h-full fixed px-3 md:px-12 top-0 right-0 py-24 list-none bg-white flex flex-col items-center justify-between z-50;

  li {
    @apply my-4;

    a {
      font-family: "Fivo Sans";
      color: #00262b;
    }

    .active {
      font-weight: bold;
    }

    button {
      @apply bg-button-primary-orange text-white hover:bg-button-primary-hover flex items-center;
      svg {
        @apply mr-2;
      }
    }
  }

  .close {
    @apply absolute top-4 right-3 md:right-12;
  }
}

.button {
  padding: 12px 24px;
  border-radius: 12px;
  color: #fff !important;
  @apply bg-button-primary-orange;

  &:hover {
    @apply bg-button-primary-hover;
  }
}

.navigation_home {
  @apply px-3 py-8 flex items-center justify-between mb-12 md:px-12 w-full relative;

  ul {
    @apply flex items-center list-none;

    .profile {
      @apply flex items-center justify-center relative;

      p {
        cursor: pointer;
        font-family: "Fivo Sans";
        color: #fff;
        margin-bottom: 0;
      }

      img {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 12px;
        border: 1px solid #ffffff;
      }

      .dropdown {
        position: absolute;
        top: 35px;
        right: 0;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 155px;
        padding: 12px 20px;
        border-radius: 20px;

        li {
          cursor: pointer;
          margin: 8px 0;
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: #401782;

          span {
            color: #e6337e;
          }
        }
      }
    }

    li {
      @apply mx-5;

      a {
        font-family: "Fivo Sans";
        color: #fff;
      }

      .active {
        font-weight: bold;
      }
    }

    .header_logo {
      @apply ml-0 mr-7;
    }
  }

  ul {
    @apply hidden lg:flex;
  }

  .active {
    font-weight: bold;
  }

  &.whitebg {
    ul {
      li {
        a {
          color: #121155;
        }
      }
    }

    svg {
      path {
        color: #121155;
      }
    }
  }
}
