.product__item {
  @apply w-full rounded-2xl mb-5 relative flex flex-row items-center;
  border: 1px solid #e7eaf4;
  min-height: 60px;

  img {
    @apply w-full h-full rounded-2xl select-none;
  }

  a {
    @apply absolute right-2 bottom-2 cursor-pointer;
    border-radius: 50%;
  }
}
