/**
* * Tailwind Styles
*/
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/**
* * Normalize Styles
*/
@import "styles/normalize";
@import "styles/box-sizing";
@import "styles/fonts";
@import "styles/buttons";

body {
  @apply font-primary bg-main overflow-x-hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
